{% extends 'base.html' %}
{% load static %}
{% load static %}

{% block content %}


    <div class="container-fluid">
        <img alt=""
            src="https://media.istockphoto.com/photos/red-and-gray-row-houses-in-suburbia-picture-id1284635683?k=20&m=1284635683&s=612x612&w=0&h=6CRndnv_nuWhf_ghL_6-VqXUeYpIeXfKrHofCoUWdao="
            height="500%" width="1400px" background-image="fixed">

            <div class="txt p-4 text-center bg-ligth">
                <h2 span style="color:#0011ff"></h2>
            
            <!-- marquee -->
            <marquee width="60%" direction="down" height="100px" span style="color:#0b0ed8">
              <h2>24/7 DIGITAL ESTATE UNDER SURVEILLANCE</h2>
           </marquee>
            </div>
    </div>

    <!-- card -->
    <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
        <div class="col">
          <div class="card h-100">
            <img src="https://images.unsplash.com/flagged/photo-1570611300191-c16f296908d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzAxfHxzZWN1cml0eXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top"style="height: 350px;" alt="...">
            <div class="card-body">
              <h3 class="card-title p-4" span style="color: #0011ff;">ADMINISTRATION</h3>
            <p class="card-text">The chief's office is located at the right hand side of the estate's entrance. Any new resident must report to the chief's office after signing in to the estate's website.</p>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://media.istockphoto.com/photos/model-house-on-a-financial-graph-picture-id1283555650?b=1&k=20&m=1283555650&s=170667a&w=0&h=oeV9VGHV0cdlHvJqJmftQMgDPfP38Q_HUMkQfZKKoNQ=" class="card-img-top"style="height: 350px;" alt="...">
            <div class="card-body">
              <h3 class="card-title p-4" span style="color:#0011ff">HOUSING</h3>
              <p class="card-text">Ardhi house is located beside the chief's office. Anyone who wishes to set up any amenities in the estate must report to the office for clearance.Any land and border disputes in the estate must be reported to the office.</p>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://images.unsplash.com/photo-1622760274068-a26adafc984f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDV8fHRyYWRlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" style="height: 350px; width: 400px;" alt="...">
            <div class="card-body">
              <h3 class="card-title p-4" span style="color: #0011ff;">BUSINESS</h3>
              <p class="card-text">Business operations are only permitted at our market place, Arina Centre, located just before the estate's hind entrance.</p>
               <p>The Revenue Authority's office is located at the market and one is required to report to the office for clearance after the online business registration.</p>
            </div>
           
          </div>
        </div>
      </div>
      <div class="txt p-4 text-center bg-ligth">
        <h2 span style="color:#0011ff"></h2>

        <h3 span style="color:#0011ff">IMPORTANT HELPLINES FOR YOU</h3>


      <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
        <div class="col">
          <div class="card h-60">
            <img src="https://media.istockphoto.com/photos/mid-adult-female-hose-team-working-at-emergency-site-picture-id1313773493?b=1&k=20&m=1313773493&s=170667a&w=0&h=oJHRpmGKvx45EXpQGlq7HFu4_6kmEHt8SPY0uXenLmc=" class="card-img-top" style="height: 360px;" alt="...">
            <div class="card-body">
              <marquee width="60%" direction="left" height="100px" span style="color:red;">
                <h2>FIRE FIGHTERS</h2>
             </marquee>
              <p>Lane line numbers: 999</p>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-60">
            <img src="https://images.unsplash.com/photo-1617367942694-4473f09be408?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHBvbGljZSUyMGNhcnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title" span style="color:#0011ff"></h3>
              <marquee width="60%" direction="left" height="100px" span style="color:#0b0ed8">
                <h2>POLICE</h2>
             </marquee>
              <p>Lane line numbers:911</p>
             
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-60">
            <img src="https://images.unsplash.com/photo-1619025873875-59dfdd2bbbd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YW1idWxhbmNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title p-4" span style="color: #0011ff;"></h3>
              <marquee width="60%" direction="left" height="100px" span style="color:red">
                <h2>AMBULANCE</h2>
             </marquee>
              <p class="card-text">lane line numbers: 999</p>
            </div>
           
          </div>
        </div>
      </div>

      <!-- footer -->
      <div class="scrolltop float-right">
        <a href="#" class="btn btn-primary">Scroll up</a>
      </div>
      <br>
      <br>
      <div class="card text-center">
          <div class="card-body p-4 bg-dark text-light">
              <p class="card-text">Copyright &copy 2021 Anipher Chelsea.</p>
        </div>
       

        
      </div>

{% endblock %}